.intj_logo {
    font-family: 'Yatra One', cursive;
}

.intj_header {
    text-align:center;
    margin: 2rem 0;
}

.intj_header_nav {
    margin: 0 0.8rem;
 }

.intj_header_navbar {
   margin: 1rem 0;
}

.intj_footer_logo {
    font-family: 'Yatra One', cursive;
}

.intj_footer_button {
     font-size: .9rem;
}

.intj_footer {
    text-align:center;
    margin-top: 2rem;
}


@media screen and (max-width:500px) {
    html {
        font-size: 13px;
    }
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: black;
}